[Unit]
Description=kuberops.ru

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill kuberops.ru
ExecStartPre=-/usr/bin/docker rm kuberops.ru
ExecStartPre=-/usr/bin/docker pull marley/kuberops.ru:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name kuberops.ru   \
 -p 4006:80                        \
 marley/kuberops.ru'
ExecStop=-/usr/bin/docker kill kuberops.ru
ExecStop=-/usr/bin/docker rm kuberops.ru

[Install]
WantedBy=multi-user.target
